@{
    ViewData["Title"] = "Library";
}


<div class="text-center">
    <h1 class="display-4">Library</h1>
    <p class="lead">Welcome to the Library</p>
    <a asp-action="Library" class="btn btn-primary">Books</a>
    <a asp-action="CreateEditBook" class="btn btn-secondary">Add Book</a>
</div>
